# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment folder
venv/
env/

# Environments
.env
.env.*

# Django stuff:
*.log

# Flask stuff:
instance/
.webassets-cache

# Unit test / Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS and Linux
.DS_Store
